# Dependencies
/node_modules
/packages

# Build artifacts
/bin
/obj
/build
/dist

# Rider
.idea/
*.sln.DotSettings.user

# Visual Studio
.vs/
*.suo
*.user

# Logs
logs/
*.log

# Temp files
*.tmp

# User-specific files
.DS_Store

# Databases
*.db
*.sqlite
*.sqlite3

# Secrets
appsettings.Development.json
.env
